<mat-card class="about">
  <mat-card-title>Apresentação</mat-card-title>
  <button
    mat-raised-button
    class="about__button"
    color="primary"
    (click)="toggleText()">
      {{ isButtonActivated ? "Desaparecer" : "Aparecer" }} texto
    </button>
  <mat-card-content
    *ngIf="isButtonActivated"
    class="about__content"
  >
    Atuei desde 2018 como analista de testes,
    no momento estou em transição de carreira para a área de
    desenvolvimento web, com foco no front-end.
  </mat-card-content>
</mat-card>
